.game-container {
    background-image: url(JeuBataille.png); 
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.save-button, .leave-button {
    padding: 10px 20px;
    position: absolute;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}

.save-button {
    top: 10px;
    left: 10px;
}

.leave-button {
    bottom: 10px;
    right: 10px;
}

.player-cards {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
}

.card {
    width: 80px; /* Largeur agrandie */
    height: 120px; /* Hauteur agrandie */
    background-color: rgba(41, 28, 28, 0.948);
    margin: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center; /* Centre le texte horizontalement */
    align-items: center; /* Centre le texte verticalement */
}

.player-cards .card:hover {
    transform: translateY(-20px); /* Déplace la carte vers le haut lors du survol */
}

.opponent {
    color: aliceblue;
    width: 80px; 
    height: 120px; 
    background-image: url('37d253f05b4587d6ef34ab16d942fcb9.jpg');
    background-size: cover;
    border-radius: 8px;
    margin: 10px;
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Pour centrer le contenu verticalement */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}


/* Positionnement spécifique des joueurs adverses */
.top-opponent {
    position: absolute;
    top: 10px;
}

.top-opponent:nth-child(1) { left: 30%; }
.top-opponent:nth-child(2) { left: 50%; }
.top-opponent:nth-child(3) { left: 70%; }

.left-opponent {
    position: absolute;
    left: 10px;
    transform: rotate(90deg);
    top: 25%; /* Ajustement vertical */
}

.left-opponent:nth-child(4) { top: 10%; }
.left-opponent:nth-child(5) { top: 40%; }
.left-opponent:nth-child(6) { top: 70%; }

.right-opponent {
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
    top: 25%; /* Ajustement vertical */
}

.right-opponent:nth-child(7) { top: 10%; }
.right-opponent:nth-child(8) { top: 40%; }
.right-opponent:nth-child(9) { top: 70%; }


.selected-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px; /* Largeur agrandie */
    height: 250px; /* Hauteur agrandie */
    background-color: rgba(41, 28, 28, 0.541);
    border-radius: 15px;
    color: white; /* Couleur du texte en blanc */
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Centre le texte horizontalement */
    display: block;
    justify-content: center;
    align-items: center; /* Centre le texte verticalement */
}




.player-info {
    color: aliceblue;
    text-align: center;
    margin-top: 5px;
}

.player-name {
    color: aliceblue;
    font-weight: bold;
}

.player-score,
.player-card-count {
    color: aliceblue;
    font-size: 14px;
}

/* Styles pour les informations en bas à gauche */
.bottom-left-info {
    color: aliceblue;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

