.six-container {
    position: relative;
    background-color: rgb(13, 13, 50);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.adverse-players {
    padding-left: 10%;
    display: flex;
    
}

.sqp-upperBandeau {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 15%;
    background-color: rgb(12, 30, 42);
}

.sqp-gameContainer {
    position: fixed;
    top:15%;
    bottom: 20%;
    width: 100%;
    height: 70%;
    background-color: rgb(26, 42, 53);
    display: flex;
}

.sqp-cardContianer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: rgb(7, 24, 36);
}

.chat-container {
    position: fixed;
    bottom: 0;
    border-radius: 15px;
    max-height: 20vh;
    width: calc(100% - 10vw); /* Ajustez selon la largeur désirée */
    right: 0; /* Centrage avec un peu de marge */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacement entre les éléments enfants */
    overflow: hidden; /* Empêche le débordement du contenu */
}

.sqp-message-container {
    overflow-y: auto;
    max-height: 10vh; /* Laissez de l'espace pour l'input en bas */
    margin-bottom: 5px; /* Espacement au-dessus de l'input */
}

.inputMessage {
    width: 100%; /* Assurez-vous que l'input utilise toute la largeur disponible */
    border: none;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box; /* Inclut padding dans la largeur */
}



#chatContainer {
    transition: opacity 0.5s, transform 0.5s;
}



.opponent-six {
    height: 70%;
    width: 500%;
    border-radius: 8px;
    margin: auto;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgb(119, 138, 193);
    top: 10px;
    justify-content: center;
    display: block;
    margin-right: 10px;
    align-items: center;
}

.opponent-six.hisTurn {
    box-shadow: rgb(60, 255, 0) 0px 0px 20px;
}

.opponent-six:nth-child(1) {
    left: 10%;
}

.opponent-six:nth-child(2) {
    left: 20%;
}

.opponent-six:nth-child(3) {
    left: 30%;
}

.opponent-six:nth-child(4) {
    left: 40%;
}

.opponent-six:nth-child(5) {
    left: 50%;
}

.opponent-six:nth-child(6) {
    left: 60%;
}

.opponent-six:nth-child(7) {
    left: 70%;
}

.opponent-six:nth-child(8) {
    left: 80%;
}

.opponent-six:nth-child(9) {
    left: 90%;
}

.sqp-card-holder {
    width: max-content;
    bottom: 1;
    position: fixed;
    left: 50%;
    transform: translateX(-50%); /* Centre l'élément horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pics/9999520.jpg');
    margin: 0 auto;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), rgb(60, 255, 0) 0px 0px 100px; /* Fusion des deux déclarations box-shadow en une seule */
}




.card:hover {
    transform: translateY(-10%);
}

.sqp-card {
    position: relative;
    bottom: 0;
    background-color: transparent;
    width: 20%;
    height: 80%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); /* Ombre plus douce pour rester cohérent avec le design minimaliste */
}

.sqp-card-holderNYT {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pics/9999520.jpg');
    margin: 0 auto;
    max-height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: rgb(255, 0, 0, 1) 0px 0px 100px;
}

.notYourTurn-cards {
    position: relative;
    bottom: 70px;
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    /* Votre style pour le tableau de scores */
}

.rectangle-container {
    display: flex;
    flex-direction: column;
    top: 5vh;
    left: 10vh;
    margin-top: 2vh;
    margin-left: 1vh;
    /* padding-bottom: 8vh; */
}

.rectangle {
    width: 65vh;
    height: 14.5vh;
    background-color: rgb(72, 84, 94);
    border: solid 2px gray;
    background-size: contain;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 0.5vh;
    padding-left: 1vh;
    box-shadow: 0 0 20px black;
}


.row {
    position: absolute;
    top: 130px;
    /* Ajustez selon la hauteur du timer */
    left: 20px;
    /* Alignez avec le timer */
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 5px;
    /* Espace entre les boutons */
    padding: 5px 10px;
    /* Réduire la taille des boutons */
    font-size: 12px;
    /* Taille de texte plus petite pour les boutons */
}

.scoreboard {
    position: fixed;
    top: 50%;
    right: -250px;
    /* Cache le contenu à l'extérieur de la vue, garde l'onglet visible */
    transform: translateY(-50%);
    width: 300px;
    /* Largeur totale du scoreboard, incluant l'onglet */
    height: 200px;
    /* Hauteur du scoreboard */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    transition: right 0.5s;
    /* Anime le mouvement latéral */
    display: flex;
}

.scoreboard-tab {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    /* Largeur de l'onglet */
}

.scoreboard-content {
    flex-grow: 1;
    padding: 10px;
}

.scoreboard.visible {
    right: 0;
    /* Ramène le scoreboard dans la vue */
}

.waitingCards {
    border-spacing: 5px;
    display: flex;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 500px;
    height: 400px;
    right: 25ch;
    top: 30vh;
    flex-wrap: wrap;
    background-size: cover;
    margin-left: 10%;
    margin-top: 3%;
    background-image: url('pics/9999520.jpg');
}

img {
    max-width: 110%;

    /* ou */
    object-fit: contain;
    /* ou "contain", selon le comportement souhaité */
}

.timer {
    margin-top: 2vh;
    margin-left: 2vh;
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(123, 59, 59);
    border: 1px solid #ccc;
    font-size: 4VH;
}

.sqp-timer {
    position: fixed; /* Positionne le timer de manière fixe par rapport au viewport */
    bottom: 20vh; /* Position verticale depuis le haut du viewport */
    left: 50vw; /* Centre horizontalement par rapport au viewport */
    transform: translateX(-50%); /* Ajuste le positionnement pour un centrage parfait */
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond semi-transparente pour le contraste */
    color: #333; /* Couleur du texte */
    padding: 1vh 2vw; /* Espacement interne basé sur la taille du viewport */
    font-size: 3vh; /* Taille de la police relative à la hauteur du viewport */
    border-radius: 10px; /* Coins arrondis pour un look doux */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre subtile pour de la profondeur */
    z-index: 100; /* Assure que le timer est bien visible au-dessus des autres éléments */
}

.sqp-timer p {
    margin: 0; /* Retire les marges par défaut pour un alignement parfait */
    text-align: center; /* Centre le texte horizontalement */
}


.sqp-save-button {
    position: fixed; /* Fixe le bouton par rapport au viewport */
    bottom: 12vh; /* Positionne le bouton à 5% de la hauteur du haut du viewport */
    left: 2vw; /* Positionne le bouton à 5% de la largeur du côté droit du viewport */
    padding: 1vh 2vw; /* Utilise vh et vw pour le padding pour une adaptabilité */
    background-color: #3db020; /* Une couleur rouge pour indiquer une action de sortie/quitter */
    color: white; /* Couleur du texte */
    font-size: 2vh; /* Adapte la taille de la police à la hauteur du viewport */
    text-align: center; /* Centre le texte dans le bouton */
    border-radius: 5px; /* Arrondit les coins du bouton */
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une petite ombre pour un effet en relief */
    transition: background-color 0.3s, transform 0.2s; /* Transition pour hover */
}

.sqp-save-button:hover {
    background-color: #07550f; /* Assombrit le bouton au survol pour un feedback */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.sqp-exit-button {
    position: fixed; /* Fixe le bouton par rapport au viewport */
    bottom: 5vh; /* Positionne le bouton à 5% de la hauteur du haut du viewport */
    left: 2vw; /* Positionne le bouton à 5% de la largeur du côté droit du viewport */
    padding: 1vh 2vw; /* Utilise vh et vw pour le padding pour une adaptabilité */
    background-color: #f44336; /* Une couleur rouge pour indiquer une action de sortie/quitter */
    color: white; /* Couleur du texte */
    font-size: 2vh; /* Adapte la taille de la police à la hauteur du viewport */
    text-align: center; /* Centre le texte dans le bouton */
    border-radius: 5px; /* Arrondit les coins du bouton */
    cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une petite ombre pour un effet en relief */
    transition: background-color 0.3s, transform 0.2s; /* Transition pour hover */
}

.sqp-exit-button:hover {
    background-color: #d32f2f; /* Assombrit le bouton au survol pour un feedback */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}


.savePopUp {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: auto;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    background-color: rgb(30, 109, 32);
    border-radius: 15px;
    box-shadow: 0 0 22px rgb(0,0,0, 1);
}

.titlePopUp {
    width: 90%;
    height: 28%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.inputPopup{
    width: 90%;
    height: 25%;
    border: none;
    margin-top: 10px;
    font-size: 3vh;
    background-color: rgb(204, 208, 208);
    border-radius: 15px;
    padding-left: 1vw;
}

.saveButtonPopUp {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    font-size: 4vh;
    border-radius: 15px;
    background-color: rgb(16, 73, 32);
    border: solid 2px gray;
    cursor: pointer;
}

.saveButtonPopUp:hover{
    background-color: rgb(24, 99, 45);
}

.chat-container {
    transform: translateY(110%);
}

.sqp-emote-container {
    position: fixed;
    left: 4%;
    bottom: 5vh;
}

.sqp-emote-button {
    height: 6vh;
    width: 6vw;
    margin-left: 200%;
    background-color: #1e4065;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sqp-emote-bubble {
    left: 10%;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0; /* Alignez la bulle d'émoticônes tout à gauche */
    width: 300px; /* Augmentez la largeur de la bulle d'émoticônes */
    background-color: rgb(144, 129, 129);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    white-space: nowrap; /* Empêchez le texte de se retourner à la ligne */
    overflow-x: auto; /* Ajoutez une barre de défilement horizontale si nécessaire */
}

.sqp-emote-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; 
}

.sqp-emote {
    margin: 5px;
    cursor: pointer;
}

.sqp-emote video {
    width: 60px;
    height: 60px;
    border-color: red;
}

.sqp-emote-enemy video{
    margin-top: 2px;
    width: 75px;
    height: 75px;
    border-color: red;
}

.sqp-enem-emote-top::after {
    content: '';
    position: absolute;
    bottom: 115%; /* Positionner la queue en haut de la bulle */
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: rgb(68, 102, 176); /* La couleur doit maintenant être appliquée à border-bottom-color */
    border-top: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}


.hide-emote {
    display: none;
}


.sqp-player-emote-container {
    right: 16.5%;
    position: fixed;
    bottom: 7%;
    width: 150px; 
    height: 100px; 
    background-color: rgb(87, 123, 202);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-color: rgb(50, 71, 111);
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}

.sqp-player-emote {
    margin: 5px;
}

.sqp-player-emote video {
    width: 95px;
    height: 95px;
}

/* Pseudo-élément pour la queue de la bulle */
.sqp-player-emote-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: rgb(87, 123, 202);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}