.BM-container {
    position: relative;
    display: flex;
    background-size: cover;
    background-image: url("pics/9999520.jpg");
    width: 100vw;
    height: 100vh;
}

.BM-profil {
    left: 0;
    height: 100vh;
    width: 3%;
    z-index: 1;
    background-image: url("pics/9999520.jpg");
    background-size: cover;
    transition: width 0.5s ease;
    /* border-right: solid white 3px; */
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
}

.BM-profil:hover {
    width: 67%;
}


.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.BM-profil:hover .hide {
    opacity: 1;
    rotate: 0deg;
}

.BM-serverList-container {
    overflow: auto;
    position: absolute;

    right: 0;
    height: 100%;
    width: 33%;
    background-color: #2a2a2a;
    z-index: 1;
    padding-left: 6.5vh;
    padding-top: 9vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.BM-server {
    scroll-behavior: auto;
    margin-bottom: 35px;
    margin-top: 35px;
    background-color: #333;
    transition: background-color 0.7s ease;
    width: clamp(15vw, 20vw, 25vw);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    color: #ddd;
    border: solid gray 3px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1);
    transition: transform 0.3 ease;
}

.BM-server:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.MB-h2 {
    top: 3vh;
    padding-top: 1vh;
    left: 30%;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    position: absolute;
    color: antiquewhite;
    border: solid gray;
    border-radius: 10px;
}

.MB-profil-H2 {
    position: relative;
    width: clamp(20vw, 200%, 200%);
    top: 50%;
    left: -7vw;
    text-align: center;
    overflow: hidden;
    transform: rotate(-90deg);
    transition: transform 0s ease;

}

.BM-profil:hover .MB-profil-H2 {
    top: 5vh;
    left: 5vh;
    transform: rotate(0deg);
    transition: top 1s ease, transform 0.5s ease, display 0.5s ease, align-items 0.5s ease, justify-self 0.5s ease, max-width 0.5s ease;
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 40vw;
}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.casino {
    background-color: rgb(169, 65, 65);
    cursor: pointer;
}

.BM-info-profil {
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 7%;
    background-color: rgb(213, 206, 206);
    color: rgb(42, 40, 40);
    font-size: 2vh;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 5vh;
    padding-left: 1vh;
    border: solid gray 3px;
}

.BM-info-profil.casino {
    background-color: rgb(169, 65, 65);
    color: wheat;
    font-size: 5vh;
    align-items: center;
    padding-left: 30%;
    height: 15%;
}

.BM-input-container {
    flex: 1;
    top: 20vh;
    padding-top: 1vh;
    left: 15%;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    position: absolute;
    color: aliceblue;

    border-radius: 10px;
}

.BM-input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 45vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    color: gray;
    font-size: 2vh;
    border-radius: 25px;
    padding-left: 1vh;
    border: solid gray 3px;
}

.gameNameMargin {
    margin-top: 100px;
}

.BM-creerButton-container {
    display: flex;
    align-items: center;
    margin: auto;
    top: 80vh;
    padding-top: 1vh;
    left: 32%;
    width: 100%;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    position: relative;
    color: aliceblue;
    border-radius: 10px;
}

.BM-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 8vh;
    border: none;
    background-color: #0066cc;
    transition: background-color 0.3s ease;
    border: solid black 1px;
    border-radius: 35px;
    font-size: 4vh;
}

.BM-button:hover {
    background-color: #0056b3;
}


.element-container {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.element-container.visible {
    transform: scale(1.1);
}

.BM-server:hover {
    background-color: green;
}

.BM-input-server {
    margin-top: 1vh;
    background-color: #ddd;
    max-width: 100%;
    border-radius: 15px;
    border: none;
    padding-left: 1vw;
}

.checkbox-container {
    display: flex;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(15vw, 15vw, 20vw);
    margin-right: 19px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(88, 98, 98);
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}



.select-container {
    position: relative;
    display: flex;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.text-card {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
}

.select-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.select-dropdown:focus {
    outline: none;
    border-color: #2196F3;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-arrow::before {
    content: '\25BC';

    font-size: 18px;
    color: #555;
}