.list-bouton-container {
    display: flex;
    flex-direction: column; /* Afficher les boutons en colonne */
    align-items: center; /* Centrer les boutons horizontalement */
    margin: 20px; /* Marge autour du conteneur */
  }
  
  .list-bouton-container button {
    margin-bottom: 10px; /* Marge entre les boutons */
    padding: 10px; /* Espace à l'intérieur des boutons */
    font-size: 16px; /* Taille de la police */
    background-color: #333; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: none; /* Supprimer la bordure des boutons */
    cursor: pointer; /* Curseur de la souris au survol des boutons */
    transition: background-color 0.3s; /* Animation de transition sur la couleur de fond */
  }
  
  .list-bouton-container button:hover {
    background-color: #2980b9; /* Couleur de fond des boutons au survol */
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    color: #2c3e50;
  }